*{
  margin: 0;
  padding: 0;
}

.drop-zone{
  width: 400px; height: 200px;
  background-color: #ccc;
}

.cmd-list button{
  padding: 4px 10px;
  margin: 0 10px 20px;
}

.log{
  max-height: 300px;
  overflow-y: auto;
}

#console-log-div {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  width: 95% !important;
  background-color: #efefef;
}

.terminal{
  
}