.App
  background-image: url('../images/bg.jpg')
  background-size: cover

#drop-zone
  width 100vw
  height: 100vh
  // &.active

  .add-xterm
    position: fixed
    right 10px
    top: 0
    font-size: 30px
    color: #fff

  .work-space
    display: none

    &.active
      display: block

  .xterm-list
    box-sizing: border-box
    margin-left: 120px
    margin-right: 20px
    padding-top: 20px
    padding-bottom: 20px

    .ixterm
      display: none
      width: 100%
      height: 100%
      box-shadow: 2px 2px 10px 10px rgba(0,0,0,.3)

      &.active
        display: block

  .action-list

    .action
      display: inline-block;
      margin-right: 10px;
      border: 1px solid #ccc;

#file-upload
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,.6)
  translate: all ease .4s

  input
    opacity: 0
    position: absolute
    left: -99999px

  .icon-plus
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    // width: 100vw
    // height: 100vh
    line-height: 100vh
    // top 50%
    // left: 50%
    color: #989898
    font-size: 200px
    // transform: translate(-50%, -50%)

.sidebar
  font-size: 0
  background: hsla(0,0%,100%,.3)
  overflow-x: hidden

  .project
    width 115px
    height 34px
    color: #ddd
    font-size: 0
    // padding: 6px 10px
    background-color: rgba(59, 59, 59, 0.5)
    transition: all ease-in-out .3s

    span
      display: inline-block
      width: 100px
      font-size: 16px
      padding: 6px 0 6px
      text-align: center
      vertical-align: middle

      &.active
        // box-shadow: 0 0 10px 10px inset rgba(0,0,0,.5)
    input
      display: inline-block
      width: 100px
      font-size: 16px
      border: none


    .remove
      display: inline-block;
      width: 15px;
      height 34px
      line-height 34px
      color: #fff
      font-size: 16px
      text-align: center
      vertical-align: middle
      text-decoration: none
      background-color: rgba(255, 0, 0, .4)
      transition: all ease-in-out .3s
