.sidebar
  width 100px
  background: hsla(0,0%,100%,.3)

  .project

    margin-bottom 6px

    &:hover,
    &.active
      // box-shadow: 2px 2px 10px 50px rgba(0,0,0,0.3) inset
      background-color: rgba(31, 31, 31, 0.5)
      font-weight: 700
      // text-shadow: #fff 1px 1px 2px
      cursor: default
      // transform: translateX(-20px)
    &:hover
      .remove
        transform: translateX(-15px)